@inject HttpClient Http

@using Notes2022.Shared

<h2>About Notes 2022</h2>
<p>
    Notes 2022 is a set of forums inspired by the <a href="https://en.wikipedia.org/wiki/PLATO_%28computer_system%29" target="_blank">PLATO</a>
    (later known as NovaNET) communications system.
    The purpose of PLATO was to provide Computer Based Education facilities.
    The origin of PLATO goes back to 1960 at the Computer-based Education Research Lab (CERL) at the University of Illinois.
    By 1973 a need was recognized for a means for users of PLATO to communicate in a durable and structured format.
    At this time David R. Woolley created "lesson" "notes".  Mr. Woolley describes "notes"
    <a href="http://just.thinkofit.com/plato-the-emergence-of-online-community/" target="_blank">here</a>.
    His original implementation remains available on <a href="http://cyber1.org" target="_blank">Cyber1</a>.
</p>

<p>
    "Notes" was rewritten in 1991 at the Computer-based Education Research Lab and on NovaNET.   By this time
    Personal Computers (PCs and MACs) running a program known as "Portal" had replaced many of the original
    dedicated PLATO terminals. The functionality of the "Portal" exceeded that of the original PLATO
    terminals.  "Notes" was showing it's age in a number of ways, some of which were
    related to lack of use of Portal functionality and others related to annoying limits of
    the original notes.  The new "Notes" (notes 2) took advantage of many of the added Portal functionalities.
</p>

<p>
    Notes 2 continued to function through August 31, 2015 at which time the then owner of NovaNET (Pearson Learning)
    shut down NovaNET.
</p>

<p>
    This effort (Notes 2022) is intended to continue the Notes tradition on a new platform.
    Many of the ideas and features of the original PLATO Notes are retained.
    Many of the Notes 2 advances are also retained.  Finally Notes 2022 is updated and
    rewritten again from the ground up to make appropriate use of the Web platform
    rather than a dedicated PLATO terminal or a NovaNET specific protocal Portal program.
</p>

<p>The author of Notes 2022 managed and contributed to the Notes 2 rewrite on NovaNET.</p>
<p>
    A prior effort, 3.0, was written using Microsoft ASP.NET MVC 5. Version 2022 derives
    from 3.0 but uses a new foundation, CORE 6.0 with Blazor, which permits greater flexibility.
</p>
<p>
    Uses components from the Community Edition of <a href="https://www.syncfusion.com/" target="_blank">Syncfusion</a> Essential Studio 2021 Volume 3.
</p>
<p>
    See also <a href="http://www.platohistory.org/" target="_blank">http://www.platohistory.org/</a> and
    <a href="http://friendlyorangeglow.com/" target="_blank">http://friendlyorangeglow.com/</a>
</p>
@*<hr />
<a href="SampleImages">See some sample images from NovaNet's Notes</a>
<hr />
<a href="Schema">Notes 2022 Database Schema for the curious</a>*@
<hr />

@if (model != null)
{
    <h5>Server active:  @upTime.ToString("hh\\:mm\\:ss") </h5>
    <h5>
        Primary system administrator:  @model.PrimeAdminName -
        <a href="mailto:@model.PrimeAdminEmail">@model.PrimeAdminEmail</a>
    </h5>
}
<div class="copyright">
        Copyright &copy; 2022 Dale Sinder
    </div>




@*@inject GrpcChannel Channel
*@
@code {
    private Notes2022.Shared.AboutModel model { get; set; }
    private TimeSpan upTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            model = await DAL.GetAbout(Http);
            upTime = DateTime.Now.ToUniversalTime() - model.StartupDateTime;
        }
        finally { }
    }
}


