@*--------------------------------------------------------------------------
    **
    **  Copyright © 2022, Dale Sinder
    **
    **  Name: Copy.razor
    **
    **  Description:
    **      Copy Note (string) to another file
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@


@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Notes2022.Shared
@using Syncfusion.Blazor.DropDowns
@using System.IO
@using System.Text

@inject HttpClient Http

@if (Files == null)
{ }
else
{  <div class="dialogs keep-center medium-input">
        <h4>Copy Note (string)</h4>
        <p>Note Subject:</p>
        <p>@Note.NoteSubject</p>

        <p>Select file name to copy to:</p>
        <SfDropDownList TItem="NoteFile" TValue="int" @bind-Value="SelectedId" Placeholder="Select a file" DataSource="Files" >
            <DropDownListFieldSettings Text="NoteFileName" Value="Id"></DropDownListFieldSettings>
        </SfDropDownList>

        <br /><SfSwitch @bind-Checked="WholeString"></SfSwitch> Copy Whole String<br/><br />

        <button type="button" @onclick="OnSubmit" class="btn btn-success btn-sm">Copy</button> <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Cancel</button>
    </div>
}

