@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Notes2022.Shared
@using System.IO
@using System.Text
@using Newtonsoft.Json

@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="dialogs modal-body">
    <p>message  Please Wait...</p>
</div>

