@*--------------------------------------------------------------------------
    **
    **  Copyright © 2022, Dale Sinder
    **
    **  Name: MessageBox.razor
    **
    **  Description:
    **      Show simple messages
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@


<div class="dialogs">
    <h3>Informational Message</h3>
    <p>
        @((MarkupString)MessageInput)
    </p>
    <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Close</button>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public string MessageInput { get; set; }

    private void Cancel()
    {
        ModalInstance.CancelAsync();

    }
}

